
body{
    background: url("img/coffee-3.jpg") fixed;
    background-size: cover;
    color: white;
}

h1,h2{
    font-family: 'Courgette', cursive;
}



.coffee_name {
    font-size:2em;
    font-weight: bold;
}

.coffee_roast {
    margin: .5em 1em;
    color: white;
}
